#search-history{
    position:absolute;
    list-style-type: none;
    
    border-radius: 0.25rem;
        
    z-index:1;
    display:none; /*will be set to block on method toogleSearchHistory()*/

}

.clickable-list{
    /*
        to make each LI element fill all the width of UL element. As we can see on browser´s console
        it has a padding-left of 2rem, we adjust the margin left as the same negative value.

        The padding left here is to move the text a bit

    */
    margin-left: -2rem; 
    padding-left: 2rem;
}

.clickable-list:hover{
    background-color:#FFC107;
    color: white;
}