.icons-in-card{
    display: inline-block;
    padding:0.2rem;
}

.icons-in-card:hover{
    color: #FFC107;
}

#welcomeColumn{

    text-align: center;
}

.is-copied-div{
    background-color: black;
    color: white;
   
    margin:5px;
   
    cursor:default;
    display: inline-block;
}

.custom-button{
    background-color: black;
    color: white;
}

.custom-button:hover{
    background-color: #FFC107;
    color:black;
}