<div class="container p-3">
    <div class="row">
      <div class="col">
        
  
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquam nisi nec nulla fringilla, vulputate pellentesque risus maximus. Nunc iaculis tincidunt erat vitae molestie. Nullam pharetra libero turpis, a semper lectus tincidunt nec. Nullam tortor nisl, sollicitudin maximus dui et, aliquet tempus nisl. Aenean consequat blandit metus. Nulla pretium pharetra risus, eu aliquet mi dictum a. Nam porta, odio ut sodales tincidunt, nisl nibh tempus nulla, ut aliquam dui lacus quis ante. Aenean eget finibus purus, ac tincidunt odio. 
      </div>
    </div>
</div>

<div *ngFor="let item of _gifsService.APIdata ; let i= index">
  {{item.url}}
 
</div>

<div *ngFor="let item of this._gifsService.historicObserv$ |async ">{{ item}}</div>